@charset "UTF-8";


body{
    background-color: #D5E1EF;
    font-size: 15px;
    max-width: 1440px;
    margin: 90px 150px;

}

main{
    background-color: white;
    width: 305px;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 10px;

}

img{
    max-width: 280px;
    margin: auto;
    padding: 10px 10px 10px 13px;

}
h2{
    text-align: center;
    margin: auto;
    padding: 0px 20px 0px 20px;
}
p{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    color: darkgrey;
    padding: 0px 20px 0px 20px;
}